In [32]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [33]:
df1 = pd.read_csv('otpusk.csv')
path = df1
print(df1)

       Отметка времени    country        город              англ город  \
0  28.06.2022 15:16:02     Россия         Сочи                   Soti
1  28.06.2022 15:16:30     Англия       Лондон                  London
2  28.06.2022 15:17:06        США      Детроит                 Detroit
3  28.06.2022 15:17:32     Россия  Владивосток             Vladivostok
4  28.06.2022 15:18:12     Россия    Краснодар               Krasnodar
5  28.06.2022 15:18:48  Казахстан       Алмата                  Almaty
6  28.06.2022 15:19:30        США    Вашингтон              Washington
7  28.06.2022 15:20:04     Япония        Токио                   Tokyo
8  28.06.2022 15:20:32   Германия       Берлин                  Berlin
9  28.06.2022 15:21:16  Финляндия    Хельсинки  Helsinki [Helsingfors]

  дата начала дата окончания  планируемый бюджет  стоимость билетов  \
0  30.06.2022     14.07.2022               15000               3000
1  07.07.2022     14.07.2022              100000              25000
2  08.07.2022     11.07.2022              150000              35000
3  29.06.2022     29.07.2022               50000              15000
4  12.07.2022     17.07.2022               25000               5000
5  15.07.2022     20.07.2022               45000              20000
6  01.07.2022     31.07.2022              200000              35000
7  30.06.2022     07.07.2022               55000              30000
8  14.07.2022     21.07.2022              100000              25000
9  22.07.2022     28.07.2022                5000               2500

   стоимость отеля  траты на отдыхе  оценка от 1 до 5  итоговая стоимость  \
0             4000            10000                 5               17000
1            25000            50000                 2              100000
2            50000            50000                 4              135000
3            15000            15000                 3               45000
4            15000            10000                 2               30000
5            15000             5000                 1               40000
6           100000            50000                 1              185000
7            15000            10000                 5               55000
8            50000            20000                 3               95000
9             1000             1000                 4                4500

   отклонение стоимости от плана стоимость 1 дня  кол-во дней
0                           2000     1214,285714           14
1                              0     14285,71429            7
2                         -15000           45000            3
3                          -5000            1500           30
4                           5000            6000            5
5                          -5000            8000            5
6                         -15000     6166,666667           30
7                              0     7857,142857            7
8                          -5000     13571,42857            7
9                           -500             750            6

In [34]:
df2 = pd.read_csv('city.csv')
path = df2
print(df2)

                     name  population
0                  Almaty     1129400
1                  Berlin     3386667
2                 Detroit      951270
3  Helsinki [Helsingfors]      555474
4               Krasnodar      639000
5                  London     7285000
6                   Soti      358600
7                   Tokyo     7980230
8             Vladivostok      606200
9              Washington      572059

In [35]:
df3 = pd.merge(df1, df2, left_on = 'англ город', right_on = 'name')
print(df3)

       Отметка времени    country        город              англ город  \
0  28.06.2022 15:16:02     Россия         Сочи                   Soti
1  28.06.2022 15:16:30     Англия       Лондон                  London
2  28.06.2022 15:17:06        США      Детроит                 Detroit
3  28.06.2022 15:17:32     Россия  Владивосток             Vladivostok
4  28.06.2022 15:18:12     Россия    Краснодар               Krasnodar
5  28.06.2022 15:18:48  Казахстан       Алмата                  Almaty
6  28.06.2022 15:19:30        США    Вашингтон              Washington
7  28.06.2022 15:20:04     Япония        Токио                   Tokyo
8  28.06.2022 15:20:32   Германия       Берлин                  Berlin
9  28.06.2022 15:21:16  Финляндия    Хельсинки  Helsinki [Helsingfors]

  дата начала дата окончания  планируемый бюджет  стоимость билетов  \
0  30.06.2022     14.07.2022               15000               3000
1  07.07.2022     14.07.2022              100000              25000
2  08.07.2022     11.07.2022              150000              35000
3  29.06.2022     29.07.2022               50000              15000
4  12.07.2022     17.07.2022               25000               5000
5  15.07.2022     20.07.2022               45000              20000
6  01.07.2022     31.07.2022              200000              35000
7  30.06.2022     07.07.2022               55000              30000
8  14.07.2022     21.07.2022              100000              25000
9  22.07.2022     28.07.2022                5000               2500

   стоимость отеля  траты на отдыхе  оценка от 1 до 5  итоговая стоимость  \
0             4000            10000                 5               17000
1            25000            50000                 2              100000
2            50000            50000                 4              135000
3            15000            15000                 3               45000
4            15000            10000                 2               30000
5            15000             5000                 1               40000
6           100000            50000                 1              185000
7            15000            10000                 5               55000
8            50000            20000                 3               95000
9             1000             1000                 4                4500

   отклонение стоимости от плана стоимость 1 дня  кол-во дней  \
0                           2000     1214,285714           14
1                              0     14285,71429            7
2                         -15000           45000            3
3                          -5000            1500           30
4                           5000            6000            5
5                          -5000            8000            5
6                         -15000     6166,666667           30
7                              0     7857,142857            7
8                          -5000     13571,42857            7
9                           -500             750            6

                     name  population
0                   Soti      358600
1                  London     7285000
2                 Detroit      951270
3             Vladivostok      606200
4               Krasnodar      639000
5                  Almaty     1129400
6              Washington      572059
7                   Tokyo     7980230
8                  Berlin     3386667
9  Helsinki [Helsingfors]      555474

In [36]:
df3.pop('name')
print(df3)

       Отметка времени    country        город              англ город  \
0  28.06.2022 15:16:02     Россия         Сочи                   Soti
1  28.06.2022 15:16:30     Англия       Лондон                  London
2  28.06.2022 15:17:06        США      Детроит                 Detroit
3  28.06.2022 15:17:32     Россия  Владивосток             Vladivostok
4  28.06.2022 15:18:12     Россия    Краснодар               Krasnodar
5  28.06.2022 15:18:48  Казахстан       Алмата                  Almaty
6  28.06.2022 15:19:30        США    Вашингтон              Washington
7  28.06.2022 15:20:04     Япония        Токио                   Tokyo
8  28.06.2022 15:20:32   Германия       Берлин                  Berlin
9  28.06.2022 15:21:16  Финляндия    Хельсинки  Helsinki [Helsingfors]

  дата начала дата окончания  планируемый бюджет  стоимость билетов  \
0  30.06.2022     14.07.2022               15000               3000
1  07.07.2022     14.07.2022              100000              25000
2  08.07.2022     11.07.2022              150000              35000
3  29.06.2022     29.07.2022               50000              15000
4  12.07.2022     17.07.2022               25000               5000
5  15.07.2022     20.07.2022               45000              20000
6  01.07.2022     31.07.2022              200000              35000
7  30.06.2022     07.07.2022               55000              30000
8  14.07.2022     21.07.2022              100000              25000
9  22.07.2022     28.07.2022                5000               2500

   стоимость отеля  траты на отдыхе  оценка от 1 до 5  итоговая стоимость  \
0             4000            10000                 5               17000
1            25000            50000                 2              100000
2            50000            50000                 4              135000
3            15000            15000                 3               45000
4            15000            10000                 2               30000
5            15000             5000                 1               40000
6           100000            50000                 1              185000
7            15000            10000                 5               55000
8            50000            20000                 3               95000
9             1000             1000                 4                4500

   отклонение стоимости от плана стоимость 1 дня  кол-во дней  population
0                           2000     1214,285714           14      358600
1                              0     14285,71429            7     7285000
2                         -15000           45000            3      951270
3                          -5000            1500           30      606200
4                           5000            6000            5      639000
5                          -5000            8000            5     1129400
6                         -15000     6166,666667           30      572059
7                              0     7857,142857            7     7980230
8                          -5000     13571,42857            7     3386667
9                           -500             750            6      555474

In [39]:
df3.sort_values(by='country', ascending=True)

,Отметка времени,country,город,англ город,дата начала,дата окончания,планируемый бюджет,стоимость билетов,стоимость отеля,траты на отдыхе,оценка от 1 до 5,итоговая стоимость,отклонение стоимости от плана,стоимость 1 дня,кол-во дней,population
1,28.06.2022 15:16:30,Англия,Лондон,London,07.07.2022,14.07.2022,100000,25000,25000,50000,2,100000,0,"14285,71429",7,7285000
8,28.06.2022 15:20:32,Германия,Берлин,Berlin,14.07.2022,21.07.2022,100000,25000,50000,20000,3,95000,-5000,"13571,42857",7,3386667
5,28.06.2022 15:18:48,Казахстан,Алмата,Almaty,15.07.2022,20.07.2022,45000,20000,15000,5000,1,40000,-5000,8000,5,1129400
0,28.06.2022 15:16:02,Россия,Сочи,Soti,30.06.2022,14.07.2022,15000,3000,4000,10000,5,17000,2000,"1214,285714",14,358600
3,28.06.2022 15:17:32,Россия,Владивосток,Vladivostok,29.06.2022,29.07.2022,50000,15000,15000,15000,3,45000,-5000,1500,30,606200
4,28.06.2022 15:18:12,Россия,Краснодар,Krasnodar,12.07.2022,17.07.2022,25000,5000,15000,10000,2,30000,5000,6000,5,639000
2,28.06.2022 15:17:06,США,Детроит,Detroit,08.07.2022,11.07.2022,150000,35000,50000,50000,4,135000,-15000,45000,3,951270
6,28.06.2022 15:19:30,США,Вашингтон,Washington,01.07.2022,31.07.2022,200000,35000,100000,50000,1,185000,-15000,"6166,666667",30,572059
9,28.06.2022 15:21:16,Финляндия,Хельсинки,Helsinki [Helsingfors],22.07.2022,28.07.2022,5000,2500,1000,1000,4,4500,-500,750,6,555474
7,28.06.2022 15:20:04,Япония,Токио,Tokyo,30.06.2022,07.07.2022,55000,30000,15000,10000,5,55000,0,"7857,142857",7,7980230

In [46]:
mean = df3.population.mean() 
print('\nСр начеление\n------') 
print(mean)

Ср начеление
------
2346390.0